<template>
  <div class="home">
    <Hero />
    <About />
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/appHero.vue'
import About from '@/components/appAbout.vue'

export default {
  name: 'Home',
  components: {
    Hero,
    About
  }
}
</script>
