<template>
    <footer class="footer">
        <div class="container">
            <div class="footer__main">
                <a href="" class="footer__logo">CAFE</a>
                <div class="footer__row">
                    <a href="" class="footer__location">
                        <span>
                            Невский проспект, 1
                            <br>
                            Санкт-Петербург
                        </span>
                    </a>
                    <div class="footer__column">
                        <h4 class="footer__column-title">Ежедневно</h4>
                        <p class="footer__column-text">Кафе: 12:00—23:00</p>
                        <p class="footer__column-text">Доставка: 11:00—22:00</p>
                    </div>
                    <div class="footer__column">
                        <h4 class="footer__column-title">Бронирование стола</h4>
                        <a href="tel:+7 (999) 321-70-00" class="footer__column-text footer__column-text--link">
                            <span>+7 (999) 321-70-00</span>
                        </a>
                    </div>
                    <div class="footer__column">
                        <h4 class="footer__column-title">В Instagram</h4>
                        <a href="" class="footer__column-text footer__column-text--link">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                                    <path fill="#16244A" d="M8.654 12.831c.982-.046 1.851-.27 2.568-.99.716-.716.94-1.586.99-2.567.057-1.012.057-4.042 0-5.053-.047-.982-.271-1.851-.99-2.568-.717-.716-1.586-.94-2.568-.99C7.643.606 4.61.606 3.598.663 2.62.71 1.75.934 1.031 1.65.31 2.367.09 3.236.04 4.218c-.057 1.012-.057 4.044 0 5.056.047.981.27 1.851.99 2.567.719.717 1.586.941 2.567.99 1.012.058 4.045.058 5.056 0zm-2.526-1.06c-.892 0-2.808.07-3.612-.247-.536-.213-.95-.626-1.165-1.165-.32-.806-.246-2.72-.246-3.612 0-.891-.071-2.808.246-3.612.213-.536.626-.949 1.165-1.165.806-.32 2.72-.246 3.612-.246.891 0 2.808-.07 3.612.246.536.214.949.627 1.165 1.165.32.807.246 2.72.246 3.612 0 .892.074 2.808-.246 3.612-.214.536-.627.95-1.165 1.165-.807.32-2.72.246-3.612.246zm3.27-7.561c.405 0 .733-.326.733-.733 0-.405-.328-.733-.733-.733-.405 0-.733.328-.733.733 0 .405.326.733.733.733zm-3.27 5.68c1.739 0 3.142-1.404 3.142-3.143 0-1.739-1.403-3.142-3.142-3.142-1.74 0-3.142 1.403-3.142 3.142 0 1.74 1.403 3.142 3.142 3.142zm0-1.1c-1.124 0-2.043-.916-2.043-2.043 0-1.126.916-2.042 2.043-2.042 1.126 0 2.042.916 2.042 2.042 0 1.127-.918 2.043-2.042 2.043z"/>
                                </svg>
                                Cafe
                            </span>
                        </a>
                        <a href="" class="footer__column-text footer__column-text--link">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                                    <path fill="#16244A" d="M8.654 12.831c.982-.046 1.851-.27 2.568-.99.716-.716.94-1.586.99-2.567.057-1.012.057-4.042 0-5.053-.047-.982-.271-1.851-.99-2.568-.717-.716-1.586-.94-2.568-.99C7.643.606 4.61.606 3.598.663 2.62.71 1.75.934 1.031 1.65.31 2.367.09 3.236.04 4.218c-.057 1.012-.057 4.044 0 5.056.047.981.27 1.851.99 2.567.719.717 1.586.941 2.567.99 1.012.058 4.045.058 5.056 0zm-2.526-1.06c-.892 0-2.808.07-3.612-.247-.536-.213-.95-.626-1.165-1.165-.32-.806-.246-2.72-.246-3.612 0-.891-.071-2.808.246-3.612.213-.536.626-.949 1.165-1.165.806-.32 2.72-.246 3.612-.246.891 0 2.808-.07 3.612.246.536.214.949.627 1.165 1.165.32.807.246 2.72.246 3.612 0 .892.074 2.808-.246 3.612-.214.536-.627.95-1.165 1.165-.807.32-2.72.246-3.612.246zm3.27-7.561c.405 0 .733-.326.733-.733 0-.405-.328-.733-.733-.733-.405 0-.733.328-.733.733 0 .405.326.733.733.733zm-3.27 5.68c1.739 0 3.142-1.404 3.142-3.143 0-1.739-1.403-3.142-3.142-3.142-1.74 0-3.142 1.403-3.142 3.142 0 1.74 1.403 3.142 3.142 3.142zm0-1.1c-1.124 0-2.043-.916-2.043-2.043 0-1.126.916-2.042 2.043-2.042 1.126 0 2.042.916 2.042 2.042 0 1.127-.918 2.043-2.042 2.043z"/>
                                </svg>
                                Основатель
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="container">
                <p class="footer__copyright-text">CAFE  •  © 2020</p>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>
.footer {

    &__main {
        margin-bottom: 110px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__column-title {
        margin: 0;
        color: #16244a;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.71;
        padding-bottom: 5px;
    }

    &__column-text {
        display: block;
        margin: 0;
        color: #16244a;
        font-size: 14px;
        line-height: 1.86;
        margin-bottom: 5px;
    }

    &__column-text--link {
        text-decoration: none;
    }

    &__column-text--link span {
        display: inline-flex;
        align-items: center;
        line-height: 1.6;
        border-bottom: 1px solid rgba($color: #27488d, $alpha: 0.1);
        transition: border-bottom 0.3s ease-in-out;

        svg {
            margin-right: 4.5px;
        }
    }

    &__column-text--link:hover span {
        border-bottom-color: transparent;
    }

    &__logo {
        display: block;
        text-decoration: none;
        color: #16244a;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.11;
        margin-bottom: 24px;
    }

    &__location {
        text-decoration: none;
    }

    &__location span {
        color: #16244a;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.57;
        border-bottom: 1px solid rgba($color: #27488d, $alpha: 0.1);
        transition: border-bottom 0.3s ease-in-out;

        &:hover {
            border-bottom-color: transparent;
        }
    }

    &__copyright {
        padding: 16px 0;
        border-top: 1px solid rgba($color: #364b8d, $alpha: 1.0);
    }

    &__copyright-text {
        margin: 0;
        color: #27488d;
        font-size: 13px;
        line-height: 1.38;
    }

    @media (max-width: 992px) {

        &__main {
            margin-bottom: 0;
        }

        &__logo {
            font-size: 24px;
            margin-bottom: 16px;
        }

        &__row {
            flex-direction: column;
        }

        &__location {
            margin-bottom: 32px;
        }

        &__location span {
            font-size: 16px;
        }

        &__column {
            margin-bottom: 30px;
        }
    }
}
</style>