<template>
  <header class="header">
    <div class="header__container">
      <router-link to="/" class="header__logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
          <path fill="#FFF" d="M62.656 0C63.398 0 64 .602 64 1.344v61.312c0 .742-.602 1.344-1.344 1.344H1.344C.602 64 0 63.398 0 62.656V1.344C0 .602.602 0 1.344 0zM44.403 20.587c-.58 0-1.186.14-1.816.418-.63.279-1.194.663-1.69 1.152-.504.496-.955 1.1-1.352 1.81-.34.609-.603 1.282-.786 2.02l-.085.375-.16.779h-2.212l-.24 1.043h2.234l-2.108 9.9c-.306 1.39-.667 2.46-1.083 3.208-.417.749-.919 1.146-1.507 1.192-.1-.16-.216-.352-.35-.573-.133-.222-.254-.397-.36-.527-.138-.16-.296-.294-.476-.401-.18-.107-.388-.16-.624-.16-.375 0-.661.125-.86.377-.198.252-.298.543-.298.871 0 .39.159.712.476.968.317.256.811.384 1.484.384 1.222 0 2.41-.538 3.563-1.615 1.077-1.006 1.807-2.28 2.192-3.825l.077-.335 2.017-9.464h2.853l.24-1.043h-2.876l.252-1.215c.329-1.566.696-2.685 1.1-3.357.405-.672.871-1.02 1.398-1.043.138.207.252.394.344.562.092.168.214.347.367.538.137.168.294.304.47.407.175.103.381.155.618.155.397 0 .69-.126.877-.378.187-.252.28-.543.28-.871 0-.39-.158-.713-.475-.968-.317-.256-.812-.384-1.484-.384zm-27.377 6.187c-.985 0-1.881.216-2.687.648-.806.431-1.472.987-2 1.667-.526.68-.937 1.457-1.231 2.332-.294.874-.441 1.789-.441 2.744 0 1.436.387 2.544 1.163 3.323.775.779 1.831 1.169 3.168 1.169.993 0 1.942-.304 2.847-.911.805-.54 1.46-1.169 1.966-1.887l.183-.273-.653-.482c-.527.726-1.08 1.288-1.656 1.685-.577.397-1.236.596-1.977.596-.825 0-1.48-.32-1.965-.957-.485-.638-.727-1.5-.727-2.584 0-1.757.376-3.24 1.128-4.452.753-1.21 1.648-1.816 2.687-1.816.313 0 .615.048.905.144.29.095.478.246.562.452-.1.26-.233.602-.401 1.026-.168.424-.252.758-.252 1.002 0 .252.103.482.31.688.205.206.515.31.927.31.497 0 .87-.2 1.118-.597.248-.397.372-.86.372-1.386 0-.703-.285-1.285-.854-1.748-.569-.462-1.4-.693-2.492-.693zm11.288 0c-.855 0-1.688.208-2.498.625-.81.416-1.509.964-2.097 1.644-.618.71-1.104 1.512-1.455 2.406-.351.894-.527 1.814-.527 2.762 0 1.375.315 2.46.945 3.254.63.794 1.5 1.192 2.607 1.192.413 0 .795-.071 1.146-.212.351-.142.676-.308.974-.499.313-.19.586-.391.82-.601.174-.158.33-.295.469-.412l.132-.11h.08c.03.497.206.905.527 1.226.32.321.756.482 1.306.482.482 0 .89-.062 1.226-.184.294-.107.723-.272 1.286-.496l.25-.1.172-.733c-.146.053-.352.103-.62.149-.267.046-.473.069-.618.069-.435 0-.745-.077-.928-.23-.183-.152-.275-.446-.275-.882 0-.16.032-.41.097-.75.05-.255.097-.481.143-.678l.046-.187 1.742-7.391-.137-.172-2.097.539c-.283-.184-.67-.348-1.163-.493-.493-.145-1.01-.218-1.553-.218zm21.923 0c-.993 0-1.9.218-2.721.653-.822.436-1.515 1.009-2.08 1.72-.58.725-1.022 1.525-1.324 2.4-.301.874-.452 1.793-.452 2.755 0 1.39.357 2.464 1.071 3.22.714.756 1.748 1.135 3.1 1.135.985 0 1.936-.28 2.853-.837.815-.496 1.509-1.14 2.082-1.93l.21-.304-.654-.482c-.565.757-1.14 1.326-1.724 1.708-.584.382-1.259.573-2.022.573-.864 0-1.519-.32-1.966-.957-.446-.638-.67-1.56-.67-2.767.879-.107 1.68-.24 2.406-.401.726-.16 1.444-.37 2.155-.63.97-.344 1.709-.806 2.217-1.387.508-.58.762-1.276.762-2.085 0-.696-.266-1.267-.797-1.713-.53-.447-1.346-.67-2.446-.67zm-21.74.814c.405 0 .741.057 1.009.172.267.114.477.267.63.458.168.199.279.412.332.642.036.152.06.31.072.473l.008.249-1.455 6.164c-.588.604-1.117 1.026-1.587 1.266s-.918.361-1.346.361c-.42 0-.768-.08-1.043-.24-.275-.16-.485-.386-.63-.676-.153-.298-.256-.627-.31-.986-.053-.359-.08-.771-.08-1.237 0-.848.126-1.685.379-2.51.252-.825.576-1.528.974-2.108.42-.619.893-1.112 1.42-1.478.527-.367 1.07-.55 1.627-.55zm21.522-.012c.16 0 .317.012.47.035.153.023.298.08.435.172.13.084.237.212.321.383.084.172.126.407.126.705 0 .71-.154 1.324-.464 1.84-.31.515-.78.937-1.415 1.265-.443.23-1 .415-1.673.556-.672.141-1.275.25-1.81.327.206-1.505.697-2.762 1.472-3.77.776-1.009 1.622-1.513 2.538-1.513z"/>
        </svg>
      </router-link>
      <div class="header__nav">
        <a href="" class="header__nav-link">
          <i class="header__nav-delivery_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="#FFF" d="M19.5 17.5c.276 0 .5-.224.5-.5v-.5c0-.276-.224-.5-.5-.5H19v-1.5c0-3.526-2.61-6.434-6-6.92V7h1.5c.276 0 .5-.224.5-.5V6c0-.276-.224-.5-.5-.5h-5c-.276 0-.5.224-.5.5v.5c0 .276.224.5.5.5H11v.58c-3.39.486-6 3.394-6 6.92V16h-.5c-.276 0-.5.224-.5.5v.5c0 .276.224.5.5.5h15zm-2-1.5h-11v-1.5C6.5 11.467 8.967 9 12 9s5.5 2.467 5.5 5.5V16z"/>
            </svg>
          </i>
          Доставка и take away
        </a>
        <a href="" class="header__nav-link">О ресторане</a>
        <a href="" class="header__nav-link">Забронировать стол</a>
        <a href="" class="header__nav-link">Контакты</a>
      </div>
      <div class="header__lang">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="#FFF" d="M12 18.531c3.746 0 6.781-3.035 6.781-6.781 0-3.746-3.035-6.781-6.781-6.781-3.746 0-6.781 3.035-6.781 6.781 0 3.746 3.035 6.781 6.781 6.781zm2.136-9.406H9.864c.457-2.075 1.4-3.281 2.136-3.281.736 0 1.679 1.206 2.136 3.281zm3.147 0h-2.256c-.246-1.214-.66-2.248-1.181-2.983 1.504.497 2.74 1.583 3.437 2.983zm-8.31 0H6.717c.697-1.4 1.933-2.486 3.437-2.983-.52.733-.935 1.766-1.181 2.983zm5.316 4.375H9.71c-.074-.541-.117-1.124-.117-1.75 0-.626.043-1.209.117-1.75h4.578c.073.541.117 1.124.117 1.75 0 .626-.044 1.209-.117 1.75zm-5.455 0H6.359c-.172-.552-.265-1.14-.265-1.75 0-.61.093-1.198.265-1.75h2.475c-.072.56-.115 1.143-.115 1.75s.04 1.19.115 1.75zm8.807 0h-2.475c.071-.56.115-1.143.115-1.75s-.04-1.19-.115-1.75h2.475c.172.552.265 1.14.265 1.75 0 .61-.093 1.198-.265 1.75zm-7.487 3.858c-1.504-.497-2.74-1.583-3.437-2.983h2.256c.246 1.214.659 2.248 1.181 2.983zm1.846.298c-.736 0-1.679-1.206-2.136-3.281h4.272c-.457 2.075-1.4 3.281-2.136 3.281zm1.846-.298c.52-.733.935-1.766 1.18-2.983h2.257c-.697 1.4-1.933 2.486-3.437 2.983z"/>
        </svg>
        In English
      </div>
      <div class="header__hamburger"></div>
    </div>
  </header>
</template>

<script>
export default {
  components: {
  }
}
</script>

<style lang='scss' scoped>
.header {
  position: relative;
  z-index: 9;
  padding-top: 40px;
  padding-bottom: 20px;

  &__container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__logo {
    font-size: 0;
    line-height: 1;
  }

  &__nav {
    margin-top: -5px;
  }

  &__nav-link {
    opacity: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 1.3;
    font-weight: bold;
    padding: 5px 24px;
    transition: opacity 0.3s ease-in-out;
  }

  &__nav-link:hover {
    opacity: 0.8;
  }

  &__nav-delivery_icon {
    display: inline-flex;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 7px;

    svg {
      margin: auto;
    }
  }

  &__lang {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0.1px;
    line-height: 1.44;

    svg {
      margin-right: 2px;
    }
  }

  &__hamburger {
    display: none;
    width: 24px;
    height: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:after,
    &:before {
      content: '';
      width: 14px;
      height: 2px;
      background-color: #fff;
    }

    &:before {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 992px) {
    padding-top: 15px;
    &__nav {
      display: none;
    }

    &__lang {
      display: none;
    }

    &__container {
      padding: 0 15px;
    }

    &__hamburger {
      display: flex;
    }
  }
}
</style>
