<template>
  <div class="hero">
    <img src="../assets/images/bg1.jpg" alt="" class="hero__images-pic">
    <div class="hero__container">
      <h1 class="hero__title">
        <span class="hero__title-caption">Дорогие гости,</span>
        совсем скоро состоится открытие обновленной версии сайта. А пока ознакомиться с актуальными новостями можно в нашем аккаунте <br> <a href="">B Instagram</a> 
      </h1>
      <div class="hero__subscribe">
        <h4 class="hero__subscribe-caption">Узнайте о запуске сайта первым</h4>
        <form>
          <div class="hero__subscribe-field">
            <input type="text" placeholder="E-mail" class="hero__subscribe-input">
            <button type="submit" class="hero__subscribe-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <defs>
                      <filter id="uu5lmc57aa" width="148%" height="306.5%" x="-24%" y="-103.2%" filterUnits="objectBoundingBox">
                          <feOffset in="SourceAlpha" result="shadowOffsetOuter1"/>
                          <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="25"/>
                          <feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.0862745098 0 0 0 0 0.0549019608 0 0 0 0 0.415686275 0 0 0 1 0"/>
                          <feMerge>
                              <feMergeNode in="shadowMatrixOuter1"/>
                              <feMergeNode in="SourceGraphic"/>
                          </feMerge>
                      </filter>
                  </defs>
                  <g fill="#F9F9F9" filter="url(#uu5lmc57aa)" transform="translate(-370 -41)">
                      <g>
                          <path d="M14.854 7.207l.353-.353c.195-.196.512-.196.707 0l4.823 4.823c.196.195.196.512 0 .707l-4.823 4.823c-.195.195-.512.195-.707 0l-.353-.353c-.196-.196-.196-.512 0-.708l4.115-4.116-4.115-4.116c-.196-.195-.196-.512 0-.707z" transform="translate(370 41)"/>
                          <path d="M20 12.75H4.5c-.276 0-.5-.224-.5-.5v-.5c0-.276.224-.5.5-.5H20v1.5z" transform="translate(370 41)"/>
                      </g>
                  </g>
              </svg>
            </button>
          </div>
        </form>
      </div>
      <a href="#about" class="hero__down">
        <div class="hero__down-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="#FFF" d="M12.266 16.303l6.543-6.544c.147-.146.147-.384 0-.53l-.618-.62c-.147-.146-.385-.146-.532 0L12 14.256 6.34 8.61c-.146-.146-.384-.146-.53 0l-.62.62c-.146.146-.146.384 0 .53l6.544 6.544c.147.147.385.147.532 0z"/>
          </svg>
        </div>
        <span class="hero__down-caption">О ресторане</span>
      </a>
    </div>
  </div>
</template>

<script>

export default {
  data: () => {
    return {
      activeImage: 'bg1.jpg'
    }
  },
}
</script>
<style lang='scss' scoped>
.hero {
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: calc(100vh - 124px);
  background-color: rgba($color: #160e6a, $alpha: 0.4); // 0.4
  background-size: cover;
  background-position: center;
  margin-top: -124px;
  padding-top: 124px;

  &__images-pic {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    object-fit: cover;
  }

  &__container {
    padding: 0 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-width: 978px;
    margin: auto auto 0;
    text-transform: uppercase;
    color: #f9f9f9;
    font-size: 36px;
    line-height: 1.22;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 70px 0;

    a {
      display: inline-block;
      text-decoration: none;
      color: #f9f9f9;
    }

    a:after {
      opacity: 1;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      opacity: 0.3;
      background-color: #f9f9f9;
      transition: all 0.3s ease-in-out;
    }
    a:hover:after {
      opacity: 0;
    }
  }

  &__title-caption {
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.51;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
  }

  &__subscribe {
    text-align: center;
  }

  &__subscribe-caption {
    margin: 0;
    text-transform: uppercase;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.51;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
  }

  &__subscribe-field {
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 1px solid rgba($color: #f9f9f9, $alpha: 0.4);
    transition: border-bottom 0.3s ease-in-out;
  }

  &__subscribe-field:focus-within {
    border-bottom-color: #f9f9f9;
  }

  &__subscribe-input {
    flex: 1;
    outline: none;
    border: 0;
    background-color: transparent;
    text-align: center;
    color: #f9f9f9;
    font-size: 16px;
    line-height: 1.5;
  }

  &__subscribe-input::placeholder {
    color: rgba($color: #f9f9f9, $alpha: 0.67)
  }

  &__subscribe-btn {
    font-size: 0;
    line-height: 1;
    cursor: pointer;
    background-color: transparent;
    border: 0;
  }

  &__down {
    outline: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: auto auto 0;
    padding: 40px 0;
    animation: 0.6s ease-in-out move_more;

    @keyframes move_more {
      from {
        opacity: 0;
        transform: translate(0, 50px);
      } 
      to {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }

  &__down-icon {
    font-size: 0;
    line-height: 1;
    margin-right: 7px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    background-color: rgba($color: #f9f9f9, $alpha: 0.1);

    svg {
      margin: auto;
    }
  }

  &__down-caption {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.34;
    letter-spacing: 0.1px;
  }

  @media (max-width: 992px) {
    min-height: calc(100vh - 99px);
    margin-top: -99px;
    padding-top: 99px;
    &__down {
      display: none;
    }

    &__title {
      font-size: 22px;
      margin-bottom: auto;
    }

    &__title-caption {
      font-size: 12px;
    }

    &__subscribe {
      padding-bottom: 36px;
    }

    &__subscribe-caption {
      font-size: 12px;
    }
  }
}
</style>
